/* styles.css */

@font-face {
  font-family: 'YourFontName';
  src: url('/fonts/Montserrat-Light.ttf') format('tff'),
  url('/fonts/Montserrat-ExtraLight.ttf') format('tff');
    /* Add more font formats if available */
  /* e.g., url('/fonts/your-font-file.ttf') format('truetype') */
  /* e.g., url('/fonts/your-font-file.svg#YourFontName') format('svg'); */
  /* Note: Make sure to replace 'YourFontName' and 'your-font-file' with actual values */
}

body {
  font-family: 'Montserrat-ExtraLight', sans-serif;
}


.app{
    text-align: center;
}

.error-message{
  font-size: small;
  color: rgb(225, 88, 88);
  padding-bottom: 1rem;
}
/* Style the user cards */
.app .clcard {
    list-style: none;
    display: flex;
    align-items: center;
    width: 40rem;
    height: 2rem;
    margin: 0.5rem auto;
    border: 0.1rem solid rgba(0, 0, 0, 0.233);
    border-radius: 7px;
    padding: 1rem;
    justify-content: space-between;
    line-height: normal;
    box-sizing: content-box;
  }

  .clcard p{
    margin-top:1rem;
  }

  .clcard:hover{
    background-color: rgb(231, 238, 245);
  }

/* Avatar style */
.avatar {
    width: 2rem;
    height: 2rem;
    border-radius: 100%;
    margin-right: 2.5rem;
  }

/* Card buttons style */
.clcard-buttons button {
    padding: 0.5rem;
    cursor: pointer;
    background-color: #0c80a0;
    font-weight: 700;
    color: white;
    border: none;
    border-radius: 5px;
  }
